model = "landscape"

landscape_server = {
  app_name = "landscape-server"
  config = {
    autoregistration = true
    landscape_ppa    = "ppa:landscape/self-hosted-beta"
  }
}

postgresql = {
  app_name = "postgresql"
  channel  = "14/stable"
  config = {
    plugin_plpython3u_enable     = true
    plugin_ltree_enable          = true
    plugin_intarray_enable       = true
    plugin_debversion_enable     = true
    plugin_pg_trgm_enable        = true
    experimental_max_connections = 500
  }
}

haproxy = {
  app_name = "haproxy"
  channel  = "latest/edge"
  config = {
    default_timeouts            = "queue 60000, connect 5000, client 120000, server 120000"
    global_default_bind_options = "no-tlsv10"
    services                    = ""
    ssl_cert                    = "SELFSIGNED"
  }
}

rabbitmq_server = {
  app_name = "rabbitmq-server"
  channel  = "latest/edge"
  base     = "ubuntu@24.04"
  config = {
    consumer-timeout = 259200000
  }
}
