model = "landscape"

landscape_server = {
  app_name = "landscape-server"
  config = {
    autoregistration = true
    landscape_ppa    = "ppa:landscape/self-hosted-25.10"
    min_install      = true
  }
}

postgresql = {
  app_name = "postgresql"
  channel  = "16/stable"
  base     = "ubuntu@24.04"
}
