name: Check linting and formatting

on:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~> 1.10.0"

      - uses: terraform-linters/setup-tflint@v4
      - run: make check
