name: Test

on:
  push:
    branches: [ main, update-pg-interface ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~> 1.10.0"

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run Lint
        run: make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~> 1.10.0"

      - name: Run Tests
        run: make test
